.wp-block-cover, .wp-block-cover-image {
    height:auto;
}

.entry-content .block {
    &.team-member {
        margin-bottom:rem(25);
        text-align:center;
        display:flex;
        flex-wrap:wrap;
        flex-direction:column;
        justify-content:flex-start;
        grid-gap:rem(12);

        h4 {
            margin:0;
            line-height:1.1;
        }

        .img-wrap-wrap {
            position:relative;
            width:100%;
            height:0;
            padding-bottom:calc(100% + 1.6rem);
            
            .twitter {
                position:absolute;
                bottom:0;
                left:50%;
                width:rem(36);
                height:rem(36);
                background:$primary;
                color:white;
                border-radius:50%;
                text-align:center;
                line-height:rem(36);
                transform:translateX(-50%);
                @extend %icon;
                transition:all 350ms ease-in-out;

                &:hover {
                    background:white;
                    color:$primary;
                }
            }
        }

        .img-wrap {
            position:absolute;
            left:0;
            top:0;
            padding:0;
            height:calc(100% - 1.6rem);

        }

        .title {
            color:$primary;
        }
    }

    &.random-art {
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-gap:rem(20);

        .img-wrap {
            padding-bottom:calc(100% - 8px);
        }
    }

    &.cloud-download-wrap {
        display:flex;
        align-items:center;
        flex-wrap:wrap;
        grid-gap:rem(50);

        @media(min-width:1000px) {
            flex-wrap:nowrap;
        }

        .download-left {
            width:100%;

            img {
                max-width:rem(270);
                margin:-8rem auto 0 auto
            }

            @media(min-width:1000px) {
                flex-basis:42%;
            }

            .inner {
                background:rgba(white,0.5);
                border:4px solid $primary;
                border-radius:rem(30);
                padding:rem(30);
                text-align:center;
            }
        }

        #canvas-wrap {
            width:100%;
            border-radius:rem(30);
            border:4px solid $primary;
            overflow:hidden;
            display:flex;
            position:relative;

            @media(min-width:1000px) {
                max-width:58%;
            }

            &:before,
            &:after {
                position:absolute;
                content:'';
                display:block;
                pointer-events:none;
                opacity:0;
            }

            &:after {
                width:100%;
                height:100%;
                background:rgba(243,243,255,0.65);
                z-index:2;
                transition:all 350ms ease-in-out;
                z-index:2;
            }

            &:before {
                top: 50%;
                left: 50%;
                width: 100px;
                height: 100px;
                margin-left:-50px;
                margin-top:-50px;
                border-radius:50%;
                border: 10px solid $purple;
                border-top-color:$pink;
                animation: loading 2s linear infinite;
                z-index:3;
            }

            &.loading {
                &:before,
                &:after {
                    opacity:1;
                    pointer-events:auto;
                }
            }
        }

        canvas {
            width:100%;
            height:100%;
            background:$blue url(../../assets/images/guy.svg) no-repeat bottom center /cover;
            transition:all 350ms ease-in-out;

            .canvas-loader {
                background:$black;
                width:100px;
                height:100px;
                position:absolute;
                left:50%;
                top:50%;
                transform:translate3d(-50%,-50%,0);
                opacity:0;
                transition:all 350ms ease-in-out;
            }
        }

        form {
            display:flex;
            grid-gap:rem(10);
            justify-content:center;
            flex-wrap:wrap;
        }

        label {
            font-weight:$bold;
        }

        input {
            border:2px solid $primary;
            border-radius:60px;
            height:rem(65);
            font-family:$title;
            font-size:rem(35);
            text-align:center;
            // color:$primary;
            max-width:rem(175);
            padding:0 rem(15);
        }

        .field {
            margin:rem(15) auto;
            display:flex;
            flex-wrap:wrap;
            grid-gap:rem(10);
            width:100%;
            justify-content:center;
            align-items:center;

            @media(min-width:1000px) {
                flex-wrap:nowrap;
            }
        }

        button {
            background:$pink;
            color:$primary;

            &:hover {
                background:white;
            }
        }

        .download-wrap {
            margin-top:rem(25);
            display:flex;
            justify-content:center;
            width:auto;
            opacity:0;
            pointer-events:none;
            transition:all 350ms ease-in-out;

            &.show {
                pointer-events:auto;
                opacity:1;
            }
        }

        .download {
            cursor:pointer;
            background:$blue;
            color:$primary;
            display:flex;
            grid-gap:rem(10);
            align-items:center;

            &:hover {
                background:white;
            }
        }

        .throw_error {
            width:100%;
            font-weight:$bold;
            color:$primary;
        }
    }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::placeholder {
    color:#999;
    opacity:1;
}

input:valid {
  color: green;
}
input:invalid {
  color: red;
}

.img-wrap {
    border:4px solid $primary;
    border-radius:rem(30);
    overflow:hidden;
    width:100%;
    height:0;
    padding-bottom:100%;
    position:relative;

    img {
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        z-index:0;
        object-fit:cover;
    }

}