.footer-wrap {
    clear:both;
    margin-top:rem(80);
    padding-top:rem(20);
    padding-bottom:rem(20);
}

.footer {
    text-align:center;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;

    svg {
        margin-bottom:rem(15);
    }

    p {
        width:100%;
        margin:0;
        font-size:rem(15);
        text-align:center;
    }
}

#player {
    position: fixed;
    bottom:rem(10);
    left:rem(10);

    #player-track {
        position: absolute;
        top: 0;
        left:25px;
        padding:rem(10);
        width:rem(250);
        height:56px;
        background-color:$primary;
        border-radius:0 rem(30) rem(30) 0;
        transition: 0.3s ease opacity;
        z-index: 1;
        pointer-events:none;
        opacity:0;
        display:flex;
        align-items:center;

        &.active {
            opacity:1;
            pointer-events:auto;
        }
    }

    #track-name {
        color:white;
        font-size: rem(15);
        margin:0 0 0 rem(40);
    }

    #player-content {
        position: relative;
        height: 56px;
        width:56px;
        background-color:$primary;
        color:white;
        border-radius:50%;
        z-index: 2;
    }

    #player-controls {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display:flex;
        grid-gap:rem(15);
        align-items:center;
        justify-content:center;
    }

    .button {
        cursor: pointer;
        font-size:rem(25);

        &:hover {
            i {
                color:white;
            }
        }
    }

    .button i {
        @extend %icon;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -
/* BACK TO TOP
*/
.back-to-top {
    position:fixed;
    bottom:30px;
    right:-100px;
    opacity:0;
    background:$primary;
    color:white;
    text-align:center;
    border:0;
    padding:0 10px;
    height:30px;
    line-height:30px;
    border-radius:0;
    transition:all 350ms ease-in-out;
    -webkit-appearance:none;
    z-index:100;
    border-radius:4px 0 0 4px;
    pointer-events:none;

    &.show {
        opacity:1;
        right:0;
        pointer-events:auto;
    }

    &:hover {
        background:$purple;
    }

    &:before {
        margin:0;
        width:auto;
        font-size:rem(16);
        position:relative;
        top:0;
    }
}